---
name: Build

on: 
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        jdk: [8, 11]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - name: Build
        run: docker build -t bio-formats-build . --build-arg BUILD_IMAGE=openjdk:26-ea-${{ matrix.jdk }}-jdk-slim-bookworm
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
      - name: Build with Ant
        run: |
            # ./tools/test-build ant
            ant docs