---
name: Build

on: 
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        jdk: [8, 11]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: actions/setup-java@v4
      - name: Build
        run: docker build -t bio-formats-build . --build-arg BUILD_IMAGE=openjdk:26-ea-${{ matrix.jdk }}-jdk-slim-bookworm
